@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');


*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   
}

.body{
   /* text-align: center;  */
   min-height: 100vh;
   background-image: linear-gradient(to right, #D9ED92, #B5E48C,#99D98C,#76C893,#52B69A,#34A0A4,#168AAD,#1A759F,#1E6091,#184E77);
   font-family: 'Dancing Script', cursive;
   font-weight: 1000;
   font-size:xx-large;
}

.fundo{
   position: absolute;
   font-weight: 100%;
   padding: 10%;
   padding-bottom: 25%;
   background-color: #e7e3d5;
   top: 15%;
   right: 40%;
   border-radius: 24px;
   box-shadow:  20px 20px 70px #505d68, 
               -20px -20px 70px #505d68;
              

}


.lotus{
   position: absolute;
   bottom: 80%;
   right: 25%;
   background-image:#52b397;
   width: 50%; 
   height: 20%;

}

.welcome{
   position:absolute;
   font-size:300%;
   top: 28%;
   right: 42.5%;
   color: #184E77;

}

.StaMonicaspa{
   position:absolute;
   font-size:100%;
   top: 38%;
   right: 44%;
   color: #184E77;
}

.labelemail{
   position: absolute;
   right: 55.5%;
   top: 43%;
   color: #184e77;
   font-size: large;

}

.email{
   position: absolute;
   top: 46%;
   right: 42.5%;
   border-radius: 12px;
   height: 5%;
   width: 15%;
   border: none;
   font-family: 'Dancing Script', cursive;

}

.labelpassword{
   position: absolute;
   right: 54.5%;
   top: 52%;
   color: #184e77;
   font-size: large;
}

.password{
   position: absolute;
   top: 55%;
   right: 42.5%;
   border-radius: 12px;
   height: 5%;
   width: 15%;
   border: none;
   font-family: 'Dancing Script', cursive;

}



.fgtpsd{
   position: absolute;
   right: 42.5%;
   top: 60%;
   color: #184E77;
   font-size: large;

}

.login{
   position: absolute;
   top: 70%;
   right: 12.5%;
   border-radius: 25px;
   width: 75%; 
   padding: 2%;
   border: none;
   background-color: #184E77;
   color: #e7e3d5;
   font-weight: 1000;
   font-size: xx-large;
   text-align: center;
}

.enterface{
   position: absolute;
   top: 79.5%;
   right: 12.5%;
   border-radius: 25px;
   padding: 2%;
   width: 75%;
   border: none;
   background-color: #184E77;
   color: #e7e3d5;
   font-weight: 1000;
   font-size:xx-large;
   text-align: center;

   
}

.entergoogle{
   position: absolute;
   top: 89%;
   right: 12.5%;
   border-radius: 25px;
   width: 75%; 
   padding: 2%;
   border: none;
   background-color: #184E77;
   color: #e7e3d5;
   font-weight: 1000;
   font-size: xx-large;
   text-align: center;
}

